<div class="row">
  <div class="col-md-12">
    <h3>Guilds</h3>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Expenses</th>
          <th>Revenue</th>
          <th>Profit</th>
          <th># of Members</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let guild of guilds">
          <td align="center">{{guild.id}}</td>
          <td align="center">{{guild.name}}</td>
          <td align="right">{{guild.expenses | currency:USD:true:'.2-2' }}</td>
          <td align="right">{{guild.revenue | currency:USD:true:'.2-2' }}</td>
          <td align="right">{{guild.profit | currency:USD:true:'.2-2'}}</td>
          <td align="right">{{guild.members.length}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
